files:
    # Enviroment for Global
    "/sbin/appstart":
        # 755 authority 7: read,write,execute
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            # must file got into this folder and must be changed into this filename.
            JAR_PATH=/var/app/current/application.jar

            # run app
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH

# It is Keyword that name of folder for "github action"
# 파일을 만드는 규칙은 00(실행 순서)-FileName.config(고정)